.NavItem{
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  color: #4B0082;
  font-size: 1.2rem;
}

.NavItem a{
  color: #4B0082;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;

}



.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  background-color: 	#F5F5F5;
  border-bottom: 4px solid #A363FF;
  color: #4B0082;
}

@media (min-width: 500px){
  .NavItem{
  margin: 0;
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;

}

.NavItem a{
  color: #4B0082;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;

}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  background-color: 	#F5F5F5;
  border-bottom: 4px solid #A363FF;
  color: #4B0082;
}
}