.Main {
  text-align: center;
  width: 100%;
  background-image: url('../../Assets/img/search.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin: 60px auto 0 auto;
  box-sizing: border-box;
  padding: 20px;
  height: 35vh;

}


.Form{
  text-align: center;
  margin: 13vh auto;
  box-sizing: border-box;
}

.Btn{
  cursor: pointer;
  padding: 9px;
  border-radius: 3px;
  background-color: #5F9EA0;
  color: #000;
  font-weight: bold;
  margin-left: 4px;
}

.Btn:disabled{
  cursor: not-allowed;
  background-color:#DCDCDC;
  color: #808080;
  font-weight: normal;
}

.Search{
  border-radius: 3px;
  width: 20rem;
  height: 1.7rem;
  background-color: #FFFFF0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 599px){
  .Main{
    background-image: url('../../Assets/img/search_mobile.jpg');
    height: 60vh;
    
  }

  .Form{
    margin: 22vh auto 0 auto;
  }

  .Search{
    width: 14rem;
    
    
  }

}

@media only screen and (max-width: 800px) and (min-width: 600px)  {
 .Main{
   height: 35vh;
   margin: 60px auto 0 auto;
 }
 .Form{
  margin: 12vh auto 0 auto;
}
.Search{
  width: 22rem;
  height: 2.5rem;
  
}

.Btn{
  padding: 15px;
  font-size: .8rem;
}
}

@media only screen and (max-width:1025px) and (min-width:801px){
  .Main{
    height: 35vh;
    margin: 60px auto 0 auto;
  }
  .Form{
   margin: 12vh auto 0 auto;
 }
 .Search{
   width: 24rem;
   height: 2.5rem;
   
 }
 
 .Btn{
   padding: 15px;
   font-size: .8rem;
 }
}