.About{
  Margin: 100px auto;
  padding: 1.4rem;
  width: 65%;
  border: #4B0082 solid 1px;
  border-radius: 10px;
}

@media screen and (max-width: 600px){
  .About{
    width: 70%;
    height: 60vh;
  }
}

@media screen and (max-width: 800px) and (min-width: 601){

}