.About{
  Margin: 100px auto;
  padding: 3rem;
  width: 60%;
  border: #4B0082 solid 1px;
  border-radius: 10px;
  text-align: left;
}

.Img{
  width: 35%;
  background-image: url('../../Assets/img/search_mobile.jpg');
}

@media screen and (max-width: 600px){
  .About{
    width: 70%;
    
  }
}

@media screen and (max-width: 800px) and (min-width: 601){

}