.App {
  text-align: center;
  background-color:#F8F8FF;
}


/* .Form{
  text-align: center;
  margin: 25px auto;
  box-sizing: border-box;
}

Btn{
  cursor: pointer;
}

Btn:disabled{
  cursor: not-allowed;
} */

